@charset "utf-8";

/*
 *  author:吴律
 *  time:2015-3-29
 */
.marginr{
    margin-right: 20px;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#62B4DD,#B4DAEF);
}
.person{
    border-radius: 5px;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 2px rgba(236, 239, 243, 1);
}